<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nick.taskbuilder">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.TaskActivity" />
        <activity android:name=".view.CalendarActivity" />
        <activity android:name=".view.AddTaskActivity"
            android:screenOrientation="portrait"/>

        <receiver android:name=".util.TaskAlarmReceiver" />

        <service
            android:name=".service.CleanDBService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".view.MenuActivity"></activity>
    </application>

</manifest>